<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'VF.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'VF.Melee'}} ({{mod @root.system.scores.str.mod}})
      </li>
      <li>
        {{localize 'VF.exploration.od.long'}} ({{@root.system.scores.str.od}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'VF.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'VF.SpokenLanguages'}} ({{localize @root.system.scores.int.spoken}})
      </li>
      <li>
        {{localize 'VF.Literacy'}} ({{localize @root.system.scores.int.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'VF.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'VF.saves.magic.long'}} ({{mod @root.system.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'VF.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'VF.Missile'}} ({{mod @root.system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'VF.Initiative'}} ({{mod @root.system.scores.dex.init}})
      </li>
      <li>
        {{localize 'VF.ArmorClass'}} ({{mod @root.system.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'VF.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'VF.Health'}} ({{mod @root.system.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'VF.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'VF.NPCReaction'}} ({{mod @root.system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'VF.RetainersMax'}} ({{add @root.system.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'VF.Loyalty'}} ({{add @root.system.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>