<form autocomplete="off">
  <div class="form-group">
    <label for="spellcaster">{{localize "VF.Spellcaster"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.spells.enabled" id="spellcaster" {{checked @root.system.spells.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label for="retainer">{{localize "VF.Retainer"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.retainer.enabled" id="retainer" {{checked @root.system.retainer.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label for="retainer">{{localize "VF.Tweaks.DontApplyWeaponBonusToDamageRoll"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.ignoreBonusDamage" id="ignoreBonusDamage" {{checked system.config.ignoreBonusDamage}}
        data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.InitiativeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.initiative.mod" id="initiative" value="{{@root.system.initiative.mod}}"
        data-dtype="Number" />
    </div>
  </div>
  {{#if (eq this.type 'character')}}
  <div class="form-group">
    <label>{{localize "VF.details.experience.next"}}</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.next" id="experiencenext" value="{{@root.system.details.xp.next}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.details.experience.bonus"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.bonus" id="experience" value="{{@root.system.details.xp.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.details.experience.share"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.share" id="experience-share" value="{{@root.system.details.xp.share}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.details.magic.bonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.details.magic.bonus" id="magic" value="{{@root.system.details.magic.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.details.nonmagic.bonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.details.nonmagic.bonus" id="nonmagic"
        value="{{@root.system.details.nonmagic.bonus}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.MeleeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.thac0.mod.melee" id="melee" value="{{@root.system.thac0.mod.melee}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.MissileBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.thac0.mod.missile" id="missile" value="{{@root.system.thac0.mod.missile}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.ArmorClassBonus"}}</label>
    <div class="form-fields">
      {{!-- One AC object, so one modifier. The old ascending branch wrote to
            system.aac.mod, which nothing has read since the AC rewrite. --}}
      <input type="text" name="system.ac.mod" id="ac" value="{{@root.system.ac.mod}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "VF.Encumbrance"}}</label>
    <div class="form-fields">
      <input type="text" name="system.encumbrance.max" id="encumbrance" value="{{@root.system.encumbrance.max}}"
        data-dtype="Number" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  <div class="form-group">
    <label for="movementAuto">{{localize "VF.Setting.MovementAuto"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.movementAuto" id="movementAuto" {{checked system.config.movementAuto}}
        data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{else}}
  <div class="form-group">
    <label for="enableInventory">{{localize "VF.Setting.EnableInventory"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.enableInventory" id="enableInventory" {{checked system.config.enableInventory}}
        data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{/if}}
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>
