<section class="ose chat-card">
    <div class="ose chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title"><h2>{{title}}</h2></div>
        </div>
        <ol class="creation-scores">
            {{#each scores}}
            <li class="flexrow">
                <span class="flex2">{{this.label}}</span>
                <span style="text-align:center;">{{this.value}}</span>
                <span style="text-align:right;">{{numberFormat this.mod decimals=0 sign=true}}</span>
            </li>
            {{/each}}
        </ol>
        <div class="chat-details">
            {{localize "VF.dialog.modifierSum"}}: <b>{{numberFormat modifierSum decimals=0 sign=true}}</b>
        </div>
    </div>
</section>
